<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.etsmtl.gti350e14equipe10.calendarets"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".VueSemaine"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AjouterTravail"
            android:label="@string/title_activity_ajouter_travail" >
        </activity>
        <activity
            android:name=".AjouterCour"
            android:label="@string/title_activity_ajouter_cours" >
        </activity>
        <activity
            android:name=".AjouterChangementHorraire"
            android:label="@string/title_activity_ajouter_changement_horraire" >
        </activity>
    </application>

</manifest>
